p {
	font-family: verdana;
	font-size: 12px;
}

h1 {
	font-family: arial;
	font-size: 22px;
	font-weight: bold;
}


h2 {
	font-size: 20px;
}

table, th, td {
	border: 1px solid;
	padding: 4px;
}

.inputform {
	font-family: arial;
	font-size: 20px;
}
