p {
	font-family: verdana;
	font-size: 12px;
}

h1, h2 {
	font-family: arial;
	font-weight: bold;
}

h1 {
	font-size: 32px;	
}


h2 {
	font-size: 24px;
}

table, th, td {
	border: 1px solid;
	padding: 4px;
}

img {
	padding: 16px;
}

.inputform {
	font-family: arial;
	font-size: 36px;
}
